<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cd2f7e6c77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/signin.css" />
    <script src="/javascript/signin.js"></script>
</head>

<body>
    <div class="background">
        <div class="area">
            <h1 class="header">SIGN IN</h1>
            <div class="slot">
                <i class="fas fa-user ico"></i>
                <input class="inp" id="username" type="text" name="" value="">
            </div>
            <div class="slot">
                <i class="fa-solid fa-lock"></i>
                <input class="inp" id="password" type="text" name="" value="">
            </div>
            <a href="#" class="frgt"> Forgot Password?</a>
            <button class="btn black" type="submit" name="button" onclick="signin()">LOGIN</button>
            <span class="or">OR</span>
            <a class="btn line" href="#"> REGISTER</a>
        </div>
    </div>

</body>

</html>